html {
    background-color: #131821;
}

body {
  margin: 0;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

footer {
  margin-top: 2em;
  width: 100%;
  background-color: var(--background-color);
}

footer p {
  color: #bac0c6;
  padding: 1em;
  padding-left: 4vw;
  margin: 0;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
}